services:
  surrealdb:
    image: surrealdb/surrealdb:latest
    container_name: surrealdb
    ports:
      - "${SURREAL_PORT}:8000"
    volumes:
      - ./surreal_data:/data
    
    environment:
      - SURREAL_USER=${SURREAL_USER}
      - SURREAL_PASS=${SURREAL_PASS}

    command: >
      start
      rocksdb:/data/merzah_database.db
    
    restart: unless-stopped

volumes:
  surreal_data:    
